{% extends "base_project.html" %}

{% load humanize static %}
{% load avatar bulma %}

{% block title %}タスク{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/task.css' %}" />
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li><a href="{% url 'task:index' project.slug %}">タスク</a></li>
      <li class="is-active"><a href="#">詳細</a></li>
    </ul>
  </nav>

  <h2 class="title">#{{ object.pk }} : {{ object.name }}</h2>

  <hr>

  <div class="columns">
    <div class="column is-9">
      {% if object.description %}
      	{{ object.description | linebreaks }}
      {% else %}
      	<p>このタスクの説明はありません。</p>
      {% endif %}

      <p>作成者 : {{ object.author.username }}</p>

      <p>
        <a href="{% url 'task:update' project.slug object.pk %}" class="button is-light">編集</a>
        {% if object.author == user %}
          <a href="{% url 'task:delete' project.slug object.pk %}" class="button is-light">削除</a>
        {% endif %}
      </p>
    </div>

    <div class="column is-3 task-detail-info">
      <h4>状態</h4>
      <p>
        <span class="tag is-rounded task-state-tag task-state-{{ object.state }}">{{ object.get_state_display }}</span>
      </p>

      <h4>日程</h4>
      <p>
        {% if object.date_from or object.date_to %}
          {{ object.date_from|date }} ～ {{ object.date_to|date }}
        {% else %}
          なし
        {% endif %}
      </p>

      <h4>担当者</h4>
      <p>
        {% for assignee in object.assignees.all %}
          {{ assignee.username }}
        {% empty %}
          まだ担当者がいません。
        {% endfor %}
      </p>
    </div>
  </div>

  <hr>

  <div class="task-comments">
    {% for comment in object.taskcomment_set.all %}
      <div class="media task-comment">
        <figure class="media-left">
          <div class="image is-32x32">
            {% avatar_img comment.user 32 %}
          </div>
        </figure>
        <div class="media-content">
          <div>
            <span class="task-comment-name">{{ comment.user.username }}</span>
            <span class="task-comment-time">{{ comment.posted_at|naturaltime }}</span>
          </div>

          <div class="task-comment-content">
            {{ comment.content|linebreaks }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <form method="post" autocomplete="off">
    {% csrf_token %}
    <div class="field">
      <div class="control">
        {{ form | bulma_form }}
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="送信">
      </div>
    </div>
  </form>
{% endblock %}
