{% extends "base.html" %}

{% block title %}タスク{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'home:index' %}">トップ</a></li>
        <li><a href="{% url 'task:index' %}">タスク</a></li>
        <li class="is-active"><a href="#">詳細</a></li>
      </ul>
    </nav>

    <h2 class="title">タスク詳細</h2>
    <h3 class="subtitle">#{{ object.pk }} : {{ object.name }}</h3>

    <hr>

    <div class="content">
      <h4>説明</h4>
      {% if object.description %}
      	{{ object.description | linebreaks }}
      {% else %}
      	<p>このタスクの説明はありません。</p>
      {% endif %}

      <h4>状態</h4>
      <p>
        {{ object.get_state_display }}
      </p>


      <h4>日程</h4>
      <p>
        {% if object.date_from or object.date_to %}
          {{ object.date_from|date }} ～ {{ object.date_to|date }}
        {% else %}
          なし
        {% endif %}
      </p>

      <h4>作成者</h4>
      <p>{{ object.author.username }}</p>

      <h4>担当者</h4>
      <p>
        {% for assignee in object.assignees.all %}
          {{ assignee.username }}
        {% empty %}
          まだ担当者がいません。
        {% endfor %}
      </p>

      <hr>

      <p>
        <a href="{% url 'task:update' object.pk %}" class="button is-text is-small">編集</a>
        {% if object.author == user %}
          <a href="{% url 'task:delete' object.pk %}" class="button is-text is-small">削除</a>
        {% endif %}
      </p>
    </div>

  </div>
</section>
{% endblock %}
