{% extends "base_project.html" %}

{% load static %}
{% load bulma utils %}

{% block title %}タスク{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/task.css' %}" />
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li class="is-active"><a href="#">タスク</a></li>
    </ul>
  </nav>

  <h2 class="title">タスク</h2>

  <div class="tabs">
    <ul>
      <li class="{% if form.state.value != 'done' %}is-active{% endif %}">
        <a href="{% if form.state.value != 'done' %}#{% else %}{% urlparams request.GET state='undone' page=None %}{% endif %}">未完了</a>
      </li>
      <li class="{% if form.state.value == 'done' %}is-active{% endif %}">
        <a href="{% if form.state.value == 'done' %}#{% else %}{% urlparams request.GET state='done' page=None %}{% endif %}">完了</a>
      </li>
      <li class="tab-spacer"></li>
      <li>
        <form>
          {% if form.state.value %}{{ form.state }}{% endif %}

          <div class="control has-icons-left">
            {% bulma_field form.keyword %}
            <span class="icon is-small is-left is-marginless">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>

  {% for task in object_list %}
    <a href="{% url 'task:detail' project.slug task.number %}" class="task-item is-clearfix">
      <div>
        <div class="task-name">
          {{ task.name }}
        </div>
      </div>
      <div>
        {% if state != 'done' %}
          <span class="tag is-rounded task-state-tag task-state-{{ task.state }}">{{ task.get_state_display }}</span>
        {% endif %}
        <span class="task-info">#{{ task.number }} {{ task.author.username }}が作成</span>
      </div>
    </a>
  {% empty %}
    <p>
      まだタスクがありません。
    </p>
  {% endfor %}

  {% if is_paginated %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% bulma_pagination page_obj extra=request.GET %}
    </nav>
  {% endif %}

  <hr>

  <p>
    <a href="{% url 'task:create' project.slug %}">タスクを作成する</a> /
    <a href="{% url 'task:gantt' project.slug %}">ガントチャート</a> /
    <a href="{% url 'task:board' project.slug %}">ボード</a>
  </p>
{% endblock %}
