{% extends "base_sidemenu.html" %}

{% block sidemenu %}
  <aside class="menu">
    <ul class="menu-list">
      <li><a href="{% url 'home:index' %}">ホーム</a></li>
      {% if project %}
        <li><a href="{% url 'task:index' project.slug %}">タスク</a></li>
        <li><a href="{% url 'schedule:index' project.slug %}">予定</a></li>
      {% endif %}
      <li><a href="{% url 'chat:index' %}">チャット</a></li>
      <li><a href="{% url 'wiki:index' %}">Wiki</a></li>
      <li><a href="#" class="has-text-grey-light">ファイル</a></li>
      <li><a href="#" class="has-text-grey-light">コード</a></li>
      <li><a href="#" class="has-text-grey-light">設定</a></li>
    </ul>
  </aside>
{% endblock %}
