{% extends "base_sidemenu.html" %}

{% block sidemenu %}
  <aside class="menu">
    <ul class="menu-list">
      <li><a href="{% url 'home:project_detail' project.slug %}">ホーム</a></li>
      <li><a href="{% url 'task:index' project.slug %}">タスク</a></li>
      <li><a href="{% url 'schedule:index' project.slug %}">予定</a></li>
      <li><a href="{% url 'wiki:index' project.slug %}">Wiki</a></li>
      {% comment %}<li><a href="{% url 'chat:index' %}">チャット</a></li>{% endcomment %}
      <li><a href="#" class="has-text-grey-light">ファイル</a></li>
      <li><a href="#" class="has-text-grey-light">コード</a></li>
      <li><a href="{% url 'home:project_setting' project.slug %}">設定</a></li>
    </ul>
  </aside>
{% endblock %}
