{% load static avatar %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block title %}{% endblock %} ｜ Elcats</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/icon32.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/icon180.png' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  {% block extra_head %}{% endblock %}
</head>
<body>
  <header class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

        <a class="navbar-item navbar-logo" href="/"><img src="{% static 'img/logo.png' %}" alt="Elcats"/></a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          {% if user.is_authenticated %}
            <div class="navbar-item is-hidden-mobile-xs">
              <div class="buttons">
                <a class="button is-light" href="{% url 'task:user_task' user.username %}">
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                </a>
                <a class="button is-light" href="{% url 'schedule:user_schedule' user.username %}">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless">
                {% avatar_img user 28 %}
              </a>

              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="{% url 'account:user_detail' user.username %}">
                  マイページ
                </a>
                <a class="navbar-item" href="{% url 'account:logout' %}">
                  ログアウト
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
  </header>

  <section class="section">
    {% block main %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>&copy; 2018 Elcats</p>
      </div>
    </div>
  </footer>

  <div id="sidemenu-back" class="is-hidden"></div>

  <div class="notification is-primary" id="toast">
    <button class="delete" id="toast-delete"></button>
    <div id="toast-content">
    </div>
  </div>

  {% block extra_body %}{% endblock %}
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    var $navbarBurger = document.querySelector('.navbar-burger');
    var $sidebarMenu = document.querySelector('.sidemenu');
    var $sidebarMenuBack = document.getElementById('sidemenu-back');
    if($sidebarMenu){
      $navbarBurger.addEventListener('click', function () {
        $navbarBurger.classList.toggle('is-active');
        $sidebarMenu.classList.toggle('is-active');
        $sidebarMenuBack.classList.toggle('is-hidden');
      });
      $sidebarMenuBack.addEventListener('click', function () {
        $navbarBurger.classList.toggle('is-active');
        $sidebarMenu.classList.toggle('is-active');
        $sidebarMenuBack.classList.toggle('is-hidden');
      });
    }else{
      $navbarBurger.classList.add('is-hidden');
      $sidebarMenuBack.classList.add('is-hidden');
    }

    document.getElementById('toast-delete').addEventListener('click', function () {
      var $toast = document.getElementById('toast');
      $toast.classList.remove('is-active');
      $toast.classList.remove('is-activated');
    })
  });

  function toast(msg) {
    var $toast = document.getElementById('toast');
    $toast.children[1].innerHTML = msg;
    $toast.classList.add('is-activated');

    window.setTimeout(function() {
      $toast.classList.add('is-active');
    }, 100);
    window.setTimeout(function() {
      $toast.classList.remove('is-active');
    }, 3000);
    window.setTimeout(function() {
      $toast.classList.remove('is-activated');
    }, 3500);
  }
  </script>
</body>
</html>
