/* task.css */

.task-state-0 {
  background-color: #ffdd57 !important;
}
.task-state-1 {
  background-color: #23d160 !important;
  color: #fff  !important;
}
.task-state-2 {
  background-color: #d0d0d0 !important;
}
.task-state-0-dark {
  background-color: #e5c550 !important;
}
.task-state-1-dark {
  background-color: #1daf51 !important;
}
.task-state-2-dark {
  background-color: #c4c4c4 !important;
}


.task-item {
	display: block;
	padding: 8px 16px;
  color: #000;
	transition: background-color .2s ease;
}
.task-item:hover {
	background-color: #f7f7f7;
}
.task-name {
  font-weight: bold;
}
.task-info {
  font-size: .9rem;
  color: #777;
  margin-left: .2rem;
}
.tag.task-state-tag {
  height: 1.5em;
  line-height: 1;
}

.task-detail-info {
  font-size: .9rem;
}
.task-detail-info h4 {
  font-weight: bold;
}

/* Comment */

.task-comments {
  margin-bottom: 1.5rem;
}

.task-comment.media {
  border-top: none;
  padding-top: 0;
}
.task-comment.media .avatar {
  margin-top: .3rem;
}
.task-comment .media-left {
  margin-right: .7rem;
}

.task-comment-name {
	font-weight: bold;
}
.task-comment-time {
  font-size: .8em;
  line-height: 1.875;
  color: gray;
}
.task-comment-content p {
	margin-bottom: 0;
}

/* Board */

.task-board {
  min-height: 3rem;
  padding-bottom: 1rem;
}
.task-board-ghost {
	background-color: #f7f7f7;
}

.task-board .task-item {
  margin: -0.5rem -0.75rem;
  padding: .75rem;
}

@media screen and (max-width: 768px) {
  .task-board .task-item {
    margin: 0;
    padding: 2px;
  }
  .task-board .task-name {
    font-size: 1rem;
    line-height: 1.5;
    max-height: 4.5rem;
    overflow: hidden;
  }
}

/* Gantt Chart */

.task-gantt {
  display: flex;
  width: 100%;
}
.task-gantt-items {
  width: 200px;
}
.task-gantt-charts {
  display: block;
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}
.task-gantt-charts-wrapper {
  min-width: 0;
}
@media screen and (max-width: 768px) {
  .task-gantt-items {
    width: 100px;
  }
}

.task-gantt-row {
  display: flex;
  position: relative;
  height: 2rem;
  font-size: .8rem;
  line-height: 2;
  border: 1px solid #eee;
}
.task-gantt-row:first-child {
  margin-top: 1.5rem;
}
.task-gantt-row:nth-child(n+2) {
  border-top: none;
}
.task-gantt-items .task-gantt-row {
  padding: 0 .5rem;
  overflow: hidden;
}
.task-gantt-charts .task-gantt-row {
  border-left: none;
}

.task-gantt-cell {
  min-width: 1rem;
  width: 1rem;
  border-right: 1px solid #eee;
}
.task-gantt-cell:last-child {
  border-right: none;
}

.task-gantt-date,
.task-gantt-month {
  text-align: center;
}
.task-gantt-day6 {
  background: #f5f5f5;
}

.task-gantt-subbar {
  position: absolute;
  top: .2rem;
  height: .75rem;
  border-right: 1px solid #eee;
}
.task-gantt-bar {
  position: absolute;
  top: .95rem;
  height: .75rem;
  border-right: 1px solid #eee;
}
