{% extends "base.html" %}

{% load bulma %}

{% block title %}ホーム{% endblock %}

{% block content %}
  <h2 class="title">プロジェクト一覧</h2>

  <hr>

  {% for project in object_list %}
    <a href="{% url 'home:project_detail' project.slug %}">
      <div>
        {{ project.name }}
      </div>
    </a>
  {% empty %}
    <p>
      まだプロジェクトがありません。
    </p>
  {% endfor %}

  {% if is_paginated %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% bulma_pagination page_obj %}
    </nav>
  {% endif %}

  <hr>

  <p>
    <a href="{% url 'home:project_create' %}">プロジェクトを作成する</a>
  </p>
{% endblock %}
