{% extends "base_project.html" %}

{% block title %}プロジェクト{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li class="is-active"><a href="#">削除</a></li>
    </ul>
  </nav>

  <h2 class="title">プロジェクト削除</h2>
  <h3 class="subtitle">{{ project.name }}</h3>

  <hr>

  <p>プロジェクト「{{ project.name }}」を削除していいですか？</p>

  <form method="post">
    {% csrf_token %}

    <div class="field is-grouped">
      <div class="control">
        <input class="button is-danger" type="submit" value="削除">
      </div>
      <div class="control">
        <a href="{% url 'home:project_detail' project.slug %}" class="button is-text">戻る</a>
      </div>
    </div>
  </form>
{% endblock %}
