{% extends "base_project.html" %}

{% load bulma %}

{% block title %}プロジェクト{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li class="is-active"><a href="#">設定</a></li>
    </ul>
  </nav>

  <h2 class="title">プロジェクト設定</h2>

  <hr>

  <form method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      <div class="field columns is-gapless">
        <div class="column is-2">
          <label class="label">{{ field.label }}</label>
        </div>
        <div class="column is-10">
          <div class="control">
            {{ field | bulma_form }}
          </div>
          {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% empty %}
            {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="field is-grouped">
      <div class="control is-expanded">
        <input class="button is-primary" type="submit" value="更新">
      </div>
      <div class="control">
        <a href="{% url 'home:project_delete' project.slug %}" class="button is-danger">削除</a>
      </div>
    </div>
  </form>

{% endblock %}
