{% extends "base.html" %}

{% load bulma %}

{% block title %}プロジェクト{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li class="is-active"><a href="#">プロジェクト作成</a></li>
    </ul>
  </nav>

  <h2 class="title">プロジェクト作成</h2>

  <hr>

  <form method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      <div class="field columns is-gapless">
        <div class="column is-2">
          <label class="label">{{ field.label }}</label>
        </div>
        <div class="column is-10">
          <div class="control">
            {% bulma_field field %}
          </div>
          {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% empty %}
            {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="作成">
      </div>
    </div>
  </form>
{% endblock %}
