{% extends "base_project.html" %}

{% load bulma %}

{% block title %}プロジェクト{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li class="is-active"><a href="#">{{ project.name }}</a></li>
    </ul>
  </nav>

  <h2 class="title">{{ project.name }}</h2>

  <p>
  	{{ project.description }}
  </p>

  <hr>

  <p>
    <a href="{% url 'task:index' project.slug %}">タスク</a> /
    <a href="{% url 'schedule:index' project.slug %}">予定</a> /
    <a href="{% url 'wiki:index' project.slug %}">Wiki</a>
    {% comment %}<a href="{% url 'chat:index' %}">チャット</a>{% endcomment %}
  </p>
{% endblock %}
