{% extends "base_project.html" %}

{% load bulma %}

{% block title %}プロジェクト{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_list' %}">プロジェクト</a></li>
      <li class="is-active"><a href="#">詳細</a></li>
    </ul>
  </nav>

  <h2 class="title">{{ project.name }}</h2>

  <hr>

  <p>
    {% if project.description %}
    	{{ project.description }}
    {% else %}
    	<p>このプロジェクトの説明はありません。</p>
    {% endif %}

    <p>
      <a href="{% url 'home:project_update' project.slug %}" class="button is-light">編集</a>
      <a href="{% url 'home:project_delete' project.slug %}" class="button is-light">削除</a>
    </p>
  </p>

  <hr>

  <p>
    <a href="{% url 'task:index' project.slug %}">タスク</a> /
    <a href="{% url 'schedule:index' project.slug %}">予定</a> /
    <a href="{% url 'chat:index' %}">チャット</a> /
    <a href="{% url 'wiki:index' %}">Wiki</a>
  </p>
{% endblock %}
