{% extends "base.html" %}

{% load bulma %}

{% block title %}ユーザーを探す{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li class="is-active"><a href="#">ユーザー一覧</a></li>
    </ul>
  </nav>

  <h2 class="title">ユーザーを探す</h2>

  {% for u in object_list %}
    <p><a href="{% url 'home:user_detail' u.username %}">{{ u.username }}</a></p>
  {% empty %}
    <p>まだユーザーがいません。</p>
  {% endfor %}

  {% if is_paginated %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% bulma_pagination page_obj %}
    </nav>
  {% endif %}
{% endblock %}
