{% extends "base.html" %}

{% load bulma %}

{% block title %}新しいチャット{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'home:index' %}">トップ</a></li>
        <li><a href="{% url 'chat:index' %}">チャット</a></li>
        <li class="is-active"><a href="#">新規チャンネル</a></li>
      </ul>
    </nav>

    <h2 class="title">新しいチャット</h2>
    <h3 class="subtitle">{{ object.username }}</h3>

    <hr>

    <p>まだメッセージがありません。</p>

    <hr>

    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="field">
        <div class="control">
          {{ form | bulma_form }}
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="button is-primary" type="submit" value="送信">
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
