{% extends "base.html" %}

{% load humanize static %}
{% load markdown %}

{% block title %}Wiki{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'wiki:index' %}">Wiki</a></li>
      <li class="is-active"><a href="#">詳細</a></li>
    </ul>
  </nav>

  <h2 class="title">{{ object.name }}</h2>

  <hr>

  <article class="content">
    {{ object.content|markdown2html|safe }}
  </article>

  <p>
    <a href="{% url 'wiki:update' object.slug %}" class="button is-light">編集</a>
    <a href="{% url 'wiki:delete' object.slug %}" class="button is-light">削除</a>
  </p>
  <p>
    作成 : {{ object.created_at|naturalday }}, 更新 : {{ object.updated_at|naturalday }}
  </p>

  <hr>
{% endblock %}
