{% extends "base_project.html" %}

{% load static %}
{% load bulma %}

{% block title %}Wiki{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li><a href="{% url 'wiki:index' project.slug %}">Wiki</a></li>
      <li><a href="{% url 'wiki:detail' project.slug object.slug %}">詳細</a></li>
      <li class="is-active"><a href="#">編集</a></li>
    </ul>
  </nav>

  <h2 class="title">Wiki編集</h2>

  <hr>

  <form method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form.hidden_fields %}
      {{ field }}
      {% for error in field.errors %}
        <p class="has-text-danger">{{ error }}</p>
      {% endfor %}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control">
          {{ field | bulma_form }}
        </div>
        {% for error in field.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% empty %}
          {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="更新">
      </div>
    </div>
  </form>
{% endblock %}

{% block extra_body %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'js/wiki.js' %}"></script>
{% endblock %}
