{% extends "base.html" %}

{% load bulma %}

{% block title %}Wiki{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'wiki:index' %}">Wiki</a></li>
      <li><a href="{% url 'wiki:detail' object.slug %}">詳細</a></li>
      <li class="is-active"><a href="#">編集</a></li>
    </ul>
  </nav>

  <h2 class="title">Wiki編集</h2>

  <hr>

  <form method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control">
          {{ field | bulma_form }}
        </div>
        {% for error in field.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="更新">
      </div>
    </div>
  </form>
{% endblock %}
