{% extends "base.html" %}
{% load bulma %}

{% block title %}ログイン{% endblock %}

{% block content %}
  <h2 class="title">
    ログイン
  </h2>
  <form action="" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}

    {% for field in form %}
      <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control">
          {% bulma_field field %}
        </div>
        {% for error in field.errors %}
          <p class="help is-danger">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    <hr>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">ログイン</button>
      </div>
      <div class="control">
        <a href="{% url 'account:password_reset' %}" class="button is-text">パスワードをお忘れですか？</a>
      </div>
    </div>
  </form>
{% endblock %}
