{% extends "base.html" %}

{% load bulma %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
  <h2 class="title">
    パスワード変更
  </h2>
  <form method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p class="has-text-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      <div class="field columns is-gapless">
        <div class="column is-2">
          <label class="label">{{ field.label }}</label>
        </div>
        <div class="column is-10">
          <div class="control">
            {% bulma_field field %}
          </div>
          {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <hr>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-link">変更</button>
      </div>
    </div>
  </form>
{% endblock %}
