{% extends "base.html" %}

{% load avatar %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li class="is-active"><a href="#">{{ object.username }}</a></li>
    </ul>
  </nav>

  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        {% avatar_img object 64 %}
      </p>
    </figure>
    <div class="media-content">
      <h2 class="title is-clearfix">{{ object.username }}</h2>
    </div>
  </div>

  <p>
    {% comment %}<a href="{% url 'chat:new_channel' object.pk %}">チャット</a>{% endcomment %}
    {% if user == object %}
      <a href="{% url 'account:user_profile' %}">プロフィール編集</a> /
      <a href="{% url 'account:password_change' %}">パスワード変更</a>
    {% endif %}
  </p>
{% endblock %}
