/* style.css */

body {
  word-break: break-all;
}
p {
  margin-bottom: 1em;
}

.columns {
  word-break: break-all;
}

.navbar-logo {
	padding: .25rem .75rem;
}
.navbar-logo img {
	max-height: 2.25rem;
}
