/* style.css */

body {
  word-break: break-all;
}
p {
  margin-bottom: 1em;
}

.input, .textarea {
  box-shadow: none;
}
.input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.columns {
  word-break: break-all;
}

.navbar-logo {
	padding: .25rem .75rem;
}
.navbar-logo img {
	max-height: 2.25rem;
}
@media screen and (max-width: 1087px) {
  .navbar-menu {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.sidemenu {
  max-width: 200px;
}
.sidemenu i {
  width: 1rem;
  text-align: center;
  margin-right: 4px;
}

#toast {
  display: none;
  position: absolute;
  bottom: 0;
  left: 1rem;
  transition: opacity 0.5s ease;
  opacity: 0;
}
#toast.is-activated {
  display: block;
}
#toast.is-active {
  opacity: 1;
}

.pagination-ellipsis {
  pointer-events: auto;
}

.avatar {
  border-radius: 4px;
}
