{% extends "base_project.html" %}

{% load humanize static %}
{% load avatar bulma %}

{% block title %}予定{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/schedule.css' %}" />
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home:index' %}">トップ</a></li>
      <li><a href="{% url 'home:project_detail' project.slug %}">{{ project.name }}</a></li>
      <li><a href="{% url 'schedule:index' project.slug %}">予定</a></li>
      <li class="is-active"><a href="#">詳細</a></li>
    </ul>
  </nav>

  <h2 class="title">{{ object.name }}</h2>

  <hr>

  <div class="columns">
    <div class="column is-9">
      {% if object.description %}
      	{{ object.description | linebreaks }}
      {% else %}
      	<p>この予定の説明はありません。</p>
      {% endif %}

      <p>作成者 : {{ object.author.username }}</p>

      <p>
        <button type="button" id="participate-button" class="button is-light">
          {% if user not in object.participants.all %}
            参加する
          {% else %}
            予定を外す
          {% endif %}
        </button>

        {% if object.author == user %}
          <a href="{% url 'schedule:update' project.slug object.pk %}" class="button is-light">編集</a>
          <a href="{% url 'schedule:delete' project.slug object.pk %}" class="button is-light">削除</a>
        {% endif %}
      </p>
    </div>

    <div class="column is-3 schedule-detail-info">
      <h4>日時</h4>
      <p>
        {{ object.date|date }}<br>
        {% if object.time_from %}
          {{ object.time_from|time:"H:i" }} ～
          {% if object.time_to %}{{ object.time_to|time:"H:i" }}{% endif %}
        {% endif %}
      </p>

      {% if object.place %}
        <h4>場所</h4>
        <p>{{ object.place }}</p>
      {% endif %}

      <h4>参加者</h4>
      <p>
        {% for participant in object.participants.all %}
          {{ participant.username }}
        {% empty %}
          まだ参加者がいません。
        {% endfor %}
      </p>
    </div>
  </div>

  <hr>

  <div class="schedule-comments">
    {% for comment in object.schedulecomment_set.all %}
      <div class="media schedule-comment">
        <figure class="media-left">
          <div class="image is-32x32">
            {% avatar_img comment.user 32 %}
          </div>
        </figure>
        <div class="media-content">
          <div>
            <span class="schedule-comment-name">{{ comment.user.username }}</span>
            <span class="schedule-comment-time">{{ comment.posted_at|naturaltime }}</span>
          </div>

          <div class="schedule-comment-content">
            {{ comment.content|linebreaks }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <form method="post" autocomplete="off">
    {% csrf_token %}
    <div class="field">
      <div class="control">
        {{ form | bulma_form }}
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="送信">
      </div>
    </div>
  </form>
{% endblock %}

{% block extra_body %}
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script>
  var config = {
    xsrfCookieName: 'csrftoken',
    xsrfHeaderName: 'X-CSRFToken',
  };

  var pk = {{ object.pk }};
  var isParticipated = {% if user in object.participants.all %}true{% else %}false{% endif %};

  document.addEventListener('DOMContentLoaded', function () {
    var $participateButton = document.getElementById('participate-button')
    $participateButton.addEventListener('click', function () {
      var action = (!isParticipated) ? 'add' : 'remove';

      axios.post(
        '{% url "schedule:participant_api" %}', {pk: pk, action: action}, config
      ).then(function (res) {
        isParticipated = !isParticipated;
        $participateButton.innerHTML = (!isParticipated) ? '参加する' : '予定を外す';
      });
    });
  });
</script>
{% endblock %}
