{% extends "base.html" %}

{% load humanize static %}
{% load bulma %}

{% block title %}予定{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title">
      予定編集
    </h2>

    <hr>

    <form method="post">
      {% csrf_token %}

      {% for error in form.non_field_errors %}
        <p class="has-text-danger">{{ error }}</p>
      {% endfor %}

      {% for field in form %}
        <div class="field columns is-gapless">
          <div class="column is-2">
            <label class="label">{{ field.label }}</label>
          </div>
          <div class="column is-10">
            <div class="control">
              {{ field | bulma_form }}
            </div>
            {% for error in field.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      <div class="field">
        <div class="control">
          <input class="button is-primary" type="submit" value="更新">
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}
