{% extends "base.html" %}

{% block title %}予定{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'home:index' %}">トップ</a></li>
        <li><a href="{% url 'schedule:index' %}">予定</a></li>
        <li class="is-active"><a href="#">週間</a></li>
      </ul>
    </nav>

    <h2 class="title">週間予定</h2>

    <hr>

    <div class="columns">
      <div class="column is-clearfix has-text-centered">
        <a class="is-pulled-left" href="{% url 'schedule:week' calendar.previous.year calendar.previous.month calendar.previous.day %}">前週</a>
        <a class="is-pulled-right" href="{% url 'schedule:week' calendar.next.year calendar.next.month calendar.next.day %}">次週</a>
        <span>{{ calendar.current | date:"Y年n月" }}</span>
      </div>
    </div>

    <div class="columns">
      {% for date, schedules in calendar.date_list.items %}
        <div class="column is-one-seventh">
          <div class="{% if calendar.now == date %}has-text-weight-bold{% endif %}">
            {% if calendar.current.month == date.month %}
              {{ date | date:"j (D)" }}
            {% else %}
              {{ date | date:"n/j (D)" }}
            {% endif %}
          </div>

          {% for schedule in schedules %}
            <a href="{% url 'schedule:detail' schedule.pk %}">
              <div>
                {% if schedule.time_from %}
                  {{ schedule.time_from|time:"H:i" }}
                  {% if schedule.time_to %} ～ {{ schedule.time_to|time:"H:i" }}{% endif %}
                  <br>
                {% endif %}
                {{ schedule.name }}
              </div>
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endblock %}
